<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<appSettings>
		<add key="DefaultConfigurationsDirectory" value="d:\filip\Programming\Projects\Athena.NET\Athena.App\Configurations\" />
		<add key="DefaultMeshesDirectory" value="d:\filip\Programming\Projects\Athena.NET\Meshes\" />
		<add key="DefaultOutputDirectory" value="d:\temp\" />
		<add key="DefaultLogDirectory" value="d:\temp\" />
	</appSettings>
	
</configuration>
